body {
  width: 250px;
  height: 400px;
  font-size: 16px;
  font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
}

#header {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

button#get_links {
  background: #044c7c;
  color: #ffffff;
  border-radius: 40px;
  border: 0;
  display: block;
  margin: 0.2em auto;
  font-size: 0.8em;
}

#link_feed {
  margin: 0.2em auto;
}

.ad_slot {
  font-size: 1em;
}
