body {
  width: 250px;
  height: 400px;
  margin: 0;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
}

#header {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #FC4A4A;
  text-align: center;
  font-size: 1.125em;
  color: #ffffff;
}

button#get_links {
  display: block;
  margin: 1em auto;
  background: #FC4A4A;
  border: 0;
  font-size: 0.9em;
  font-weight: bold;
  color: #ffffff;
}

button#get_links:hover {
  background: #ffffff;
  color: #FC4A4A;
  border: 1px solid #FC4A4A;
}

#link_feed {
  display: block;
}

.ad_slot {
  margin: 0.5em 0.625em;
  border: 1px solid #FC4A4A;
  text-align: center;
  font-size: 1em;
  color: #FC4A4A;
}

#explainer, .ad_avg {
  margin-top: 0.5em;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #FC4A4A;
}
