$primary_color: #FF8080;
$secondary_color: #ffffff;
$bg_color: #00385B;
html {
  font-size: 16px;
}
body {
  width: 250px;
  height: 400px;
  margin: 0;
  background-color: $bg_color;
  font-family: "Futura", "Helvetica Neue", "Lucida Grande", sans-serif;
}

#header {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $primary_color;
  text-align: center;
  font-size: 1.25rem;
  color: $secondary_color;
}

#explainer {
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  background-color: #80FFFA;
  text-align: center;
  font-size: 1rem;
  color: $bg_color;
}

.send_data {
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
}

button.btn {
  display: block;
  margin: 1rem auto;
  background: $primary_color;
  border: 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: $secondary_color;
}

button.btn:hover {
  background: $secondary_color;
  color: $primary_color;
  border: 2px solid $primary_color;
}

#link_feed {
  display: block;
}

.ad_slot {
  margin: 0.5rem 0.625rem;
  border: 2px solid $primary_color;
  background-color: $bg_color;
  text-align: center;
  font-size: 1rem;
  color: $secondary_color;
}
